<div class="row">
    <div class="col">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-population-tab" data-toggle="tab" href="#nav-population" role="tab" aria-controls="nav-population" aria-selected="true" (click)="changeToPopulation()">Population</a>
                <a class="nav-item nav-link" id="nav-area-tab" data-toggle="tab" href="#nav-area" role="tab" aria-controls="nav-area" aria-selected="false" (click)="changeToArea()">Area</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-population" role="tabpanel" aria-labelledby="nav-population-tab"></div>
            <div class="tab-pane fade" id="nav-population" role="tabpanel" aria-labelledby="nav-population-tab"></div>
        </div>
    </div>
</div>