<br>
<hr>
<div class="row">
    <div class="col">
        <p>
            This web-app was built using Angular 8 for reactivity and Bootstrap for the (admittedly minimal) styling.
            It consumes a public API from <a href="https://www.restcountries.eu/">restcountries.eu</a> and two 
            sort-of-public APIs from <a href="https://developers.google.com/maps/documentation/javascript/tutorial">
            Google Maps</a> -- specifically <a href="https://developers.google.com/maps/documentation/javascript/">Maps JavaScript</a>
             and <a href="https://developers.google.com/maps/documentation/geocoding/start">Geocoding</a> APIs.
        </p>
        <p>
            The app gets its country data by parsing the response from a GET request sent to  
            <a href="https://restcountries.eu/rest/v2/all">https://restcountries.eu/rest/v2/all</a>.  The large clickable map
            on the initial page uses the Geocoding API, and the smaller map on the individual country overview is created
            using the country data in tandem with the Maps JavaScript API.
        </p>
    </div>
</div>
